.title1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
    color: rgb(3, 3, 65);
    background: rgb(248, 247, 245);
    margin-bottom: 20px;

}

.text1{
    margin: 0;
    font-size: px;
    font-weight: 'bold';
    color: '#007bff';
    text-align: 'center';
}